table.medTable {
  margin: 2rem;
  width: 70%;
  font-family: "Poppins", sans-serif;
  border-collapse: collapse;
  margin: auto;
  text-align: center;
}

.medTableHead {
  padding: 1.5rem;
}

table.medTable tbody td {
  padding: 1rem;
}
