@import "../../index.scss";
@import "../RegisterLoginLayout/registerLoginLayout.module.scss";
.reminderCards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  //padding: 3rem;
  padding-top: 0rem;
}

.crossButton {
  background-color: rgb(252, 69, 69);
  padding: 10px;
  cursor: pointer;
  color: white;

  border-radius: 0px 10px 0px 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: beige;
  border-radius: 15px;
  padding: 1rem;
  border: solid black 0.2rem;
}

.addButton {
  background-color: transparent;
  border: solid rgb(247, 217, 52) 0.2rem;
  padding: 1rem 5rem 1rem 5rem;
  width: 20rem;
  height: 10rem;
  margin: 1rem 1rem;
  margin-left: 3rem;
  margin-right: 3.2rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  transition: 250ms;
  &:hover {
    background-color: white;
  }
}

.card {
  width: 20rem;
  background-color: #fffdda;
  margin: 1rem 1rem;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 21px 37px -5px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 21px 37px -5px rgba(0, 0, 0, 0.2);
}

.card .cardTitle h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.cardReminderDate {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  padding-bottom: 1rem;
  color: #555;
  font-weight: bold;
}

.cardContent {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
