* {
  margin: 0;
}

.section {
  display: flex;
}

.container {
  display: flex;
}

.rightPart {
  width: calc(100% - 15rem);
  background-color: beige;
  background-image: '/assets/images/dbg.svg';
  position: absolute;
  right: 0;
}
