* {
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Mono:wght@100;500&family=IBM+Plex+Sans+Condensed&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin centerHoizontal {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
