.sidePart {
    flex:1;
    height: calc(100vh - 40px);
    position: sticky;
    top: 50px;
    background-color: whitesmoke;
}

.sidePartMenu {
    margin-bottom: 2.5rem;
}


.sidePartList {
    list-style: none;
    padding: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

.sidePartListItem {
    padding: 0.4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sidePartIcon {
    padding-right: 1rem;
}